# Persistent database? ----
# TRUE: Keep the database once built, or
# FALSE: destroy at the end of each session
persistent_db <- TRUE

# Maximum download size, in bytes.
max_dl_size <- 50000000

# No need to edit anything below this line

app_name <- "GBIF Issues Explorer"
